<!-- A grey horizontal navbar that becomes vertical on small screens -->
<!-- <nav class="navbar navbar-expand-sm bg-light">

  navbar
  <ul class="navbar-nav d-flex">
    <li class="nav-item">
      <a class="nav-link"routerLink = "">Link 1</a>
    </li>
    <li class="nav-item mr-auto">
      <a class="nav-link"routerLink = "">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink = "">Link 3</a>
    </li>
  </ul>

</nav> -->

<!--
<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a routerLink="/home" class="navbar-brand">Brand</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a routerLink="/home" class="nav-item nav-link active">Home</a>
              <a routerLink="/gallery" class="nav-item nav-link">Gallery</a>
              <a routerLink="/about" class="nav-item nav-link">About</a>
          </div>
          <div class="navbar-nav ml-auto">
              <a routerLink="/login" class="nav-item nav-link">Login</a>
          </div>
      </div>
  </nav>
</div> -->



<!-- <mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">logo</button>
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button *ngIf="privateUser" routerLink="/gallery">
      <mat-icon>photo-library</mat-icon>
      Gallery
    </button>

  </span>
  <span>
    <button mat-button routerLink="/about">
      <mat-icon>groups</mat-icon>
      About
    </button>
    <button mat-button *ngIf="!isLoggedIn" (click)="openDialog()">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isLoggedIn" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      Logout  {{userName}}
    </button>
  </span>
</mat-toolbar> -->
<!-- <mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad</mat-icon>
    Play
  </button>
  <button mat-menu-item routerLink="/login" >
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu> -->


<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-warning" style="    position: sticky; top: 0; z-index: 1;">
  <a class="navbar-brand" routerLink = "/" routerLinkActive = "/">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/">
          <i class="fa fa-home"></i>
          Home

          </a>
      </li>
      <li class="nav-item " *ngIf="privateUser">
        <a class="nav-link" routerLink = "/gallery" routerLinkActive = "/gallery">
          <i class="fa fa-picture-o">
          </i>
          Gallary
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/about" routerLinkActive = "/about">
          <i class="fa fa-users">
          </i>
          About
        </a>
      </li>


    </ul>
    <ul class="navbar-nav " style="cursor: pointer;">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" (click)="openDialog()">
          <i class="fa fa-sign-in">
          </i>
          Login
        </a>
      </li>
      <li class="nav-item" style="cursor: pointer;" *ngIf="isLoggedIn">
        <a class="nav-link" (click) = logOut()>
          <i class="fa fa-power-off">
          </i>
          Logout  {{ userName  }}
        </a>
      </li>
    </ul>
  </div>
</nav>
