<div class="container gallery-container">


    <div class="row mt-4">
      <!-- <div class="col-sm-6 col-md-4 m-1 " *ngFor="let items of [].constructor(10)">
        <span class="">
          <img src="../assets/gallery/unnamed.jpg" alt="unnamed">
        </span>
      </div> -->

      <div  class="col-xl-3 col-md-6 gallery-img mb-4" *ngFor="let items of [].constructor(20), let i = index">
        <div mat-ripple class="card border-0 shadow" style="cursor: pointer;" (click)="openDialog('https://source.unsplash.com/9UVmlIb0wJU/500x350')">
          <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
          <div class="text-center">

          </div>
        </div>
      </div>

    </div>


</div>

<!-- <app-footer></app-footer> -->
