<!-- <app-header></app-header>

<div class="container">
  <div class="row mx-0">
   <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer> -->

<router-outlet></router-outlet>
<!-- <div class="main-root">
  <app-header></app-header>



  <app-footer class="footer"></app-footer>
</div> -->
