<div class="row mx-0">
  <div class="col-12 px-0">
    <img [src]="imageUrl" class="img-fluid" alt="xyz">
  </div>

  <div class="col-12 text-center mt-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ab accusamus voluptas numquam fugit, corporis
    molestiae? Nihil, quae. Nemo aliquid ullam fuga iure magni provident, delectus corporis quibusdam! Facilis, eaque.
  </div>
</div>
