<div class="text-center"><h2>Log In </h2></div>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="row mx-0 justify-content-center" (ngSubmit)="onSubmit()">

      <span class="text-danger" *ngIf="loginInvalid">
        The username and password were not recognised
      </span>
      <mat-form-field class="full-width-input col-12">
        <input matInput placeholder="Email" formControlName="username" required>
        <mat-error *ngIf="form.get('password').hasError('required') && submitted">
          <span class="fa fa-exclamation-triangle"></span>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input col-12 position-relative">
        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" required>
        <span class="fa  position-absolute" [ngClass] = "showPassword ? 'fa-eye' : 'fa-eye-slash'" (click) = "showPassword = !showPassword" style="right: 1%; cursor: pointer;"></span>
        <mat-error *ngIf="form.get('password').hasError('required') && submitted">
          <span class="fa fa-exclamation-triangle"></span>
          Please provide a valid password
        </mat-error>

        <mat-error class="text-left body-subtext mt-1 c-alert-danger"
        *ngIf="form.get('password').hasError('unauthorized') && submitted">
        <span class="fa fa-exclamation-triangle"></span>
        <span> Invalid password</span>
      </mat-error>
      </mat-form-field>
      <div class="col-12 col-md-6 mt-4">
        <button  mat-raised-button  class= "w-100 " color="primary">Login</button>

      </div>
    </form>
  </mat-card-content>
</mat-card>
